<!DOCTYPE html>
<html lang="en" ng-app="todoList">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
    <script src="app.js"></script>
	
    <title>Todo List</title>    
    <style>
        ul li {
            clear: both;
            margin-bottom: 20px;
        }

        label {
            font-weight: normal;
        }

        .ng-cloak {
            display: none !important;
        }

        body{
	    background: #40978E;
	}

        .list-unstyled{
            color: white;
	    font-size: 17px;
        }
        
        h1{
           color: white; 
           text-align: center;
        }

	.button{
	   margin-left: 90px;
	   margin-bottom: 20px;
	}
	
    </style>
  </head>
  <body >
  	
    <div ng-controller="TodoCtrl as todo" class="container ng-cloak">        
        <div class="row">
	     <div class="col-sm-6 col-sm-offset-3" style="border: 1px solid white;margin-top: 20px;">
                <h1 class="page-header">To Do List</h1>

                <div class="input-group form-group">
                    <input type="text" class="form-control" placeholder="Add New" 
                        ng-model="todo.listItem.title"
                        ng-keydown="$event.keyCode === 13 && todo.addItem()">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="todo.addItem()">
                            <i class="glyphicon glyphicon-plus"></i>  
                        </button>
                    </span>
                </div>

                <ul class="list-unstyled">
                    <li ng-repeat="item in todo.items">                
                       	<label><strong>
                            <input type="checkbox" ng-model="item.checked"> {{ item.title }}
                        </strong></label>
                        
                        <button class="btn btn-danger btn-sm pull-right" ng-click="todo.removeItem($index)">
                            <i class="glyphicon glyphicon-trash"></i>
                        </button>                
                    </li>        
                </ul>
		<div class="button">
                <button class="btn btn-info" ng-click="todo.toggleCheckbox()">
                    <span ng-if="!todo.isCheckedAll">Check</span>
		    <span ng-if="todo.isCheckedAll">Uncheck</span> All
                </button>
                <button class="btn btn-danger" ng-click="todo.deleteItems()">Delete</button>
		</div>
            </div>
        </div>
    </div>

  </body>
</html>
